body {
    padding-top: 5rem;
}

mark{
    background: none;
    color: red;
}

#label{
    font-weight: bold;
    margin-bottom: 0px;
}

button{
    background-color: blue;
    border-radius: 5px;
    color: white;
    width: 150px;
}

textarea{
    height: 150px;
    width: 500px;
}